# Database
DATABASE_URL="your_postgresql_database_url"

# Telegram Bot
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"

# Kling AI API
KLING_ACCESS_KEY="AgYCCpYCmYhhyANmh3mtrf8bQaAe3pTH"
KLING_SECRET_KEY="bdJEagGGEfNpbCpCCfELmyTape9AJ9Kr"

# Robokassa
ROBOKASSA_MERCHANT_LOGIN="kling_tgbot"
ROBOKASSA_PASSWORD1="ge2szRg0qJnrl81E0SEe"
ROBOKASSA_PASSWORD2="EJ8rKq4mtHbr65eP4LWV"
ROBOKASSA_TEST_MODE="false"

# Server
PORT="3000"
